*{
    -fx-base-color-focus: #09b6bc;
    -fx-base-color-unfocus: #4d4d4d;
    -fx-base-color-etiquetas: #4d4d4d;
    -fx-base-color-titulos: #51b6cd;
    -fx-base-color-error: #D34336;
    -fx-base-color-id: #00c853;
    -mfx-main: #09b6bc;
    -mfx-purple: #09b6bc;
}